// .menu
.menu {
  width: 960px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
// .logo
.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

// .nav
.nav {
  display: inline-block;
  width: 840px;
  text-align: right;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.input-menu {
  border-radius: 30px;
}

.cuerpo p {
    padding: 5px 10px;
}