// contenido
.contenido {
  width: 960px;
  margin: 0 auto;
}

// listad-noticias
.listad-noticias {
  width: 700px;
  float: left;
}

// noticia
.noticia {
  width: 210px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

// cabecera

// cuerpo.

.cuerpo img {
  width: 210px;
  height: 300px;
}
